 html {
    height: 100%;
    width: 100%;
  }
  header {
    width: 100%;
  }
  h1,h2,h3,h4,h5,p,a {
    color: {{ button_color }}
    font-family: 'var(--font-heading-h1)';
    margin: 0 0 1rem;
  }
  body {
    min-height: 100%;
    font-family: var(--font-body);
    background-color: {{ bg_color }};
    {% if bg_image %}
    background-image: url( {{ bg_image | img_url: '3600x' }} );
    /* background-size: 1440px; */
    background-size: cover;
    background-position: top center;
    background-repeat: repeat;
    {% endif %}

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  @media print, screen and (max-width: 700px) {
    body {
      background-image: url( {{ bg_image_mobile | img_url: '1200x' }} );
    }
  }
  p {
    font-size: var(--font-body-size-regular);
    font-family: var(--font-body);
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 10px; 
  }
  #MainContent {
    width: 100%;
    padding: 3rem 0 0;
  }
  #Login {
    width: 100%;
  }

  header {
    overflow: hidden;
  }

  .logo-image {
    margin-bottom: 2rem;
  }

  h1, h2, h3 {
    
  }
  h2 {
    
  }

  .button {
    background-color: {{ button_color }};
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .description {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    max-width: 28rem;
    text-align: center;
    margin: 0 auto 0rem;
  }
  .description p {
    font-size: 1.4rem;
  }

  .lock-icon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .icon-set {
    margin-left:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .icon-set li {
    font-size: 2rem;
    margin: 2rem 1rem 0 1rem;
  }
  .icon-set li a {
    border: 2px solid var(--font-body-color);
    border-radius: 40rem;
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-set li a svg {
    width: 2rem;
    height: 2rem;
  }
  .icon-set li a svg path {
    fill: var(--font-body-color);
  }
  .reveal {
    padding: 4rem 3rem 3rem 3rem;
    display: flex;
    align-items: center;
  }
  .product {
    padding-bottom: 1rem;
  }
  .lock-icon {
    width: 1rem;
  }
  .lock-icon svg {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  .klaviyo-form.klaviyo-form.klaviyo-form {
    border-radius: 1.4rem !important;
  }
  button.needsclick.go332817621.kl-private-reset-css-Xuajs1 {
    padding: .8rem 2rem !important;
    width: auto;
    display: inline-block;
    border-radius: 0.9rem !important;
    overflow: hidden !important;
  }